name: Quality assurance

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    strategy:
      matrix:
        php: [ '8.2','8.3','8.4' ]
    runs-on: ubuntu-24.04
    timeout-minutes: 2
    steps:

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, intl
          coverage: xdebug
          tools: phing:v3, phpunit:v10

      - name: Install GraphViz (PlantUML requirement)
        run: |
          sudo apt --yes update
          sudo apt --yes install graphviz

      - uses: actions/checkout@v2

      - name: Install Composer dependencies
        run: phing composer:install

      - name: Lint
        run: phing php:lint composer:validate

      - name: PHPUnit
        run: XDEBUG_MODE=coverage phpunit

      - name: Psalm
        run: phing psalm:run

      - name: Code Style
        run: PHP_CS_FIXER_IGNORE_ENV=yes phing cs:check
